header ul#menu li {
	display: inline;
}

.container1	{
	border: none;
	width: auto;
	height: 400px;
	background-color: #4169E1;
}

#first	{
	border: hidden;
	width: 500px;
	height: 300px;
	float: center;
	text-align: center;
	background-color: white;
	border-radius: 25px;
	margin-left: 100px;
	margin-top: 100px;
}

.container2	{
	border: none;
	width: auto;
	height: 600px;
	background-color: #C0C0C0;
}

#second {
	border: 1px solid red;
	width: 350px;
	height: auto;
	float: left;
	text-align: center;
	background-color: white;
	border-radius: 25px;
}

#third {
	border: 1px solid red;
	width: 350px;
	height: auto;
	float: center;
	text-align: bottom;
	background-color: white;
	border-radius: 25px;
}

#fourth {
	border: hidden;
	width: 350px;
	height: auto;
	float: right;
	text-align: center;
	background-color: white;
	border-radius: 25px;
}

footer {
	border: solid;
	text-align: center;
	color: white;
	background-color: black; 
}